.city-name > sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: #ffffff;
  background: #ff8c00;
}

.city > .block > .level {
  margin-bottom: 0;
}

.charts-css.column {
  height: 4rem;
}

.city-temp {
  white-space: nowrap;
}

a.city {
  transition: box-shadow 300ms ease-in-out;
}

a.city:hover {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 40%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

.city-icons {
  margin-bottom: 3rem !important;
}

.city-icons > img {
  position: absolute;
  top: 0;
}

.city-temp-icon {
  height: 1.5em;
  margin: 0%;
  margin-right: -10% !important;
}

.city-temp-celsius {
  font-size: 0.5em;
}

.charts-css.column td {
  border-radius: 30px 30px 0 0;
  --color: #56a0ee;
}

.modal-open {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 35%;
  position: fixed;
  bottom: 1rem;
  right: 1.2rem;
}

.modal-open.is-primary {
  height: 10rem;
  width: 10rem;
}
.modal-open.is-primary .icon {
  height: 6em !important;
  width: 6em !important;
}
.arrow {
  bottom: 12rem;
  right: 12rem;
  width: 7rem;
  position: fixed;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  animation: slide 1s ease-in-out infinite;
}
@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0) rotate(45deg);
  }
  50% {
    transform: translate(20px, 20px) rotate(45deg);
  }
}

.ct-series.series-solstice {
  stroke: grey;
  fill: grey;
}

.ct-series.series-today {
  stroke: #f4c63d;
  fill: #f4c63d;
}

.ct-label {
  font-size: 1.75rem;
  position: absolute;
  left: -2rem;
  white-space: nowrap;
}

/*
Maastricht Blue (#001A26)
Prussian Blue (#053752)
Tangerine (#EF810E)
Sandstorm (#E5DE44)
*/

#last-update {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.flip {
  transform: scaleY(-1);
}
