@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  body {
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    @apply max-w-screen;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  a {
    @apply no-underline text-black relative whitespace-nowrap;
  }

  a::before {
    @apply empty-content absolute -z bottom-0;
    top: 80%;
    left: -0.05em;
    right: -0.05em;
    transition: top 180ms cubic-bezier(0, 0.8, 0.1, 1);
    background-color: rgba(65, 80, 230, 0.5);
  }

  a:hover::before {
    @apply top-0;
  }

  h1 > a::before,
  h2 > a::before,
  h3 > a::before,
  h4 > a::before,
  h5 > a::before,
  h6 > a::before {
    @apply hidden;
  }

  a[target="_blank"]::after {
    @apply inline-block empty-content h-4 w-4 ml-1 align-super;
    background-image: url("/external.svg");
    background-size: 1rem 1rem;
  }

  ol {
    @apply leading-8;
  }

  br {
    @apply block empty-content mt-1;
  }

  table {
    @apply w-full;
  }

  th,
  td {
    @apply pt-4 text-left;
  }

  small {
    @apply text-xs;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer utilities {
  .max-w-screen {
    max-width: 100vw;
  }

  .min-w-sm {
    min-width: 640px;
  }

  .min-w-md {
    min-width: 768px;
  }

  .mx-10-screen {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .my-10-screen {
    margin-top: 10vw;
    margin-bottom: 10vw;
  }

  .h-50-screen {
    height: 50vh;
  }

  .-z {
    z-index: -1;
  }

  .align-super {
    vertical-align: super;
  }

  @variants before, after {
    .empty-content {
      content: "";
    }
  }
}

@layer components {
  .liste {
    @apply min-w-max mx-10-screen px-4 pt-4 pb-40 text-2xl mt-4;
  }
  .liste > h1:not(:first-of-type) {
    @apply pt-4;
  }
  .liste > h1 {
    @apply pb-4;
  }
  .liste li:not(:last-child) {
    @apply pb-8;
  }
  .liste li {
    max-width: 70vw;
  }

  .info > a::after,
  .info > a::before {
    @apply hidden;
  }
  .info {
    @apply flex flex-row-reverse;
  }
  .info > a {
    @apply w-7 ml-2;
  }
  .info > a > img {
    @apply max-w-full max-h-full;
  }

  .collapsible > input[type="checkbox"] {
    @apply hidden;
  }
  .collapsible > label {
    @apply cursor-pointer text-sm;
    transition: all 0.25s ease-out;
  }
  .collapsible > label::before {
    @apply empty-content inline-block align-middle;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 0.3rem solid currentColor;
    margin-right: 0.3rem;
    transform: translateY(-0.1rem);
    transition: transform 0.2s ease-out;
  }
  .collapsible > input:checked + label::before {
    transform: rotate(90deg) translateX(-3px);
  }
  .collapsible > .collapsible-content {
    @apply max-h-0 overflow-hidden;
    transition: max-height 0.25s ease-in-out;
  }
  .collapsible > input:checked + label + .collapsible-content {
    @apply max-h-screen;
  }

  .tooltip {
    @apply text-gray-500 relative inline-block ml-2 border-b border-dotted border-black;
  }
  .tooltip .tooltip-content {
    @apply hidden w-32 bg-black text-white text-center py-1 rounded-md absolute z-10;
  }
  .tooltip:hover .tooltip-content {
    display: initial;
    top: 135%;
    left: 50%;
    margin-left: -150%;
  }
}

#widgets img {
  @apply max-h-screen w-full;
}

#widgets > div {
  @apply m-auto w-auto mt-4;
}

#widgets a {
  @apply after:hidden;
}

.dwd-warn-level-1 {
  /* warnings */
  border-color: #ffeb3b;
}
.dwd-warn-level-2 {
  /* significant */
  border-color: #fb8c00;
}
.dwd-warn-level-3 {
  /* severe */
  border-color: #e53935;
}
.dwd-warn-level-4 {
  /* extreme */
  border-color: #880e4f;
}
.dwd-warn-level-50 {
  /* heat */
  border-color: #cc99ff;
}

#dwd-trend > img {
  @apply ml-0;
}
@media screen(2xs) {
  #dwd-trend > img {
    margin-left: -25px;
  }
}

.leaflet-left.leaflet-bottom {
  left: 50%;
  transform: translate(-50%, 0%);
}

.leaflet-gesture-handling-touch-warning:after,
.leaflet-gesture-handling-scroll-warning:after {
  text-align: center;
}
.no-gesture-handling.leaflet-gesture-handling-touch-warning:after,
.no-gesture-handling.leaflet-gesture-handling-scroll-warning:after {
  display: none;
}

.leaflet-touch #rainviewer-control,
#rainviewer-control {
  display: flex;
  font-size: initial;
  cursor: pointer;
  user-select: none;
}
.leaflet-touch #rainviewer-control a,
#rainviewer-control a {
  min-width: 30px;
  width: max-content;
  display: flex;
  border-radius: 0;
  border-bottom: none;
}
#rainviewer-control img {
  height: 22px;
  margin: auto;
}
#rainviewer-control a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#rainviewer-control a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.leaflet-touch #rainviewer-control a:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.leaflet-touch #rainviewer-control a:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#rainviewer-control.running .play-icon,
.pause-icon {
  display: none;
}

#rainviewer-control.running .pause-icon {
  display: initial;
}
