---
layout: default
---

{%- include daswetter.html -%}

{%- if page.meteoblue.simple -%}
{%- include meteoblue_simple.html -%}
<hr class="divider">
{%- endif -%}

{%- include windguru.html -%}

{%- include meteoblue.html -%}
{%- include dwd.html -%}

{% if page.accuweather %}
{% include accuweather-link.html %}
{% endif %}

{%- include knmi.html -%}

{% include windy-map-waves.html %}
<div>
    {% include windy-map.html %}
    {% include windy-link.html %}
</div>


<script>
    localStorage.setItem("lastvisited", location.pathname)
</script>
