<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <title>{% if page.layout == "ort" %}Wetter {% endif %}{{page.title}}</title>
    <link id="css" rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://my.meteoblue.com">
    <link rel="preconnect" href="https://www.dwd.de">
</head>

<body>
    <div class="kopf">
        {% if page.collection == "ort" %}
        <div class="back">
            <a class="normal" href="/"><img src="/back.svg" alt=""></a>
        </div>
        {% endif %}
        <div class="mitte">
            <img src="/icon.svg" alt="">
            <h1><a href="/{% if page.collection == " ort " %}#{{page.url | slugify}}{% endif %}">{{page.title}}</a></h1>
        </div>
    </div>
    <div class="main">
        {{content}}
    </div>
    <div class="links">
        <a href="/">Übersicht aller Orte</a>
        <a href="/quellen">Quellen</a>
    </div>
    <div class="legal">
        <a class="normal" href="/impressum">Impressum</a>
        <a class="normal" href="/datenschutz">Datenschutz</a>
    </div>
    <script>
        var loader = function () {
            var loaderLow = function () {
                let asyncImagesLow = document.getElementsByClassName('asyncImageLow');
                Array.from(asyncImagesLow).map((item) => {
                    let img = document.createElement("img")
                    img.src = item.getAttribute("data-src");
                    img.setAttribute("importance", "low")
                    item.parentNode.insertBefore(img, item);
                    item.remove();
                });
            }

            let asyncImagesHigh = document.getElementsByClassName('asyncImageHigh');
            var isFirstElement = true
            var firstElement
            Array.from(asyncImagesHigh).map((item) => {
                let img = document.createElement("img")

                if (isFirstElement) {
                    img.addEventListener("load", loaderLow, false)
                    firstElement = img
                    isFirstElement = false
                }

                img.src = item.getAttribute("data-src");
                img.setAttribute("importance", "high")
                item.parentNode.insertBefore(img, item);
                item.remove();
            });


            let asyncIframes = document.getElementsByClassName('asyncIframe');
            Array.from(asyncIframes).map((item) => {
                item.src = item.getAttribute("data-src");
            });

            if (isFirstElement) {
                loaderLow()
            } else {
                if (firstElement.complete) {
                    loaderLow();
                }
            }

        };
        /* setTimeout(loader, 1000) */
        window.addEventListener("load", loader, false)
    </script>
</body>

</html>